<div class="row">
    <div class="col">
        <button id="newGame" class="btn btn-info" type="button">Start New Game</button>
    </div>    

    <div class="input-group col">
        <label for="#selectPlayMode" class="m-1">Select Play Mode:</label>
        <select id="selectPlayMode" name="playMode">
            <option>Player V Computer</option>
            <option>Computer V Computer</option>
        </select>
    </div>

    <div class="input-group col">
        <label for="#difficulty" class="m-1">Select Difficulty:</label>
        <select id="difficulty" name="difficulty">
            <option>Begginer</option>
            <option>Intermediate</option>
            <option>Advanced</option>
        </select>
    </div>

</div>

<hr />

<div class="row">
    <div class="col">
        <p>Player</p>
    </div>
    <div class="col">
        <p>Computer</p>
    </div>
</div>
