<h3 class="card-title">Rules - How to Play Rock Paper Scissors</h3>

<p>The rules for playing rock paper scissors are simple. Rock beats scissors, scissors beats paper and paper beats rock.</p>
<p>To play the game, pick a move and then press the "Play Game" button. Unless you are playing @Common.PlayMode.ComputerVComputer.ToString() mode, at which point just press the button.</p>
<p>If you want to change the difficulty or play mode, use the drop downs at the top of the page. After chosing your settings press the "Start New Game" button.</p>
<p>Starting a new game will reset your win, draw and loss counters. But the stats on the stats tab will carry over.</p>