<h3 class="card-text">Statistics - Current Session</h3>
<p>Shows the win percentage of each move for each last move made by the opponent.</p>

@foreach (Common.Difficulty difficulty in Enum.GetValues(typeof(Common.Difficulty)))
{
    <h4>Difficulty: @difficulty.ToString()</h4>

    <div class="row">
        @foreach (Common.PlayMode playMode in Enum.GetValues(typeof(Common.PlayMode)))
        {
            <div class="col">
                <h5>@playMode.ToString()</h5>
                <table class="table table-bordered text-center">
                    <thead>
                        <tr>
                            <td rowspan="2">Selected Move</td>
                            <td colspan="3">Last Move P2</td>
                        </tr>
                        <tr>
                            @foreach (Common.Moves move in Enum.GetValues(typeof(Common.Moves)))
                            {
                                <td>@move.ToString()</td>
                            }
                        </tr>
                        @foreach (Common.Moves move in Enum.GetValues(typeof(Common.Moves)))
                        {
                            <tr>
                                <td>@move.ToString()</td>
                                @foreach (Common.Moves lastMove in Enum.GetValues(typeof(Common.Moves)))
                                {
                                    <td id="stats-@difficulty.ToString()-@playMode.ToString()-@move.ToString()-@lastMove.ToString()" data-games="0" data-wins="0">N/A</td>
                                }
                            </tr>
                        }
                    </thead>
                </table>
            </div>
        }
    </div>
    <hr />
}
