

<div class="card">
    <div class="card-header">
        <div class="card-header-tabs">
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item">
                    <a href="#game" class="nav-link active" data-toggle="tab" role="tab" aria-controls="game" aria-selected="true">Game</a>
                </li>
                <li class="nav-item">
                    <a href="#rules" class="nav-link" data-toggle="tab" role="tab" aria-controls="rules" aria-selected="false">Rules</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="card-body">
        <div class="tab-content">
            <div id="game" class="tab-pane fade active show">
                @Html.Partial("_Game")
            </div>

            <div id="rules" class="tab-pane fade">
                @Html.Partial("_Rules")
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        $("#newGame").click(function (event) {
            this.innerHTML = this.innerHTML + "+";
        });
    </script>
}
